body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
  border: 0;
}


/*.col {
  height: 300px;
  width:400px;
  font-size: small;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}*/

.col {
  border-radius: 2rem;
}
.col-4 {
  border-radius: 2rem;
}
.navbar {
  height: 75px;
  display:flex;
  justify-content:space-around;
  align-items: center;
} 



